production: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  # For details on connection pooling, see Rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  database: {{ db_name }}
  username: {{ db_user }}
  password: {{ db_password }}
